html { 
  background: url(erin1.jpg) no-repeat top left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
	font-size: 60px;
	letter-spacing: 10px;
}

.footer {
   position:absolute;
   bottom: 15px;
   width:100%;   /* Height of the footer */
}

.footer p, a, h1 {
	font-weight:normal;
	color: rgb(255, 255, 255);
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size: 25px;
	text-align: center;
	font-family: 'Cutive', sans-serif;
	text-decoration: none;
}

#storelink {
    margin-top: 15px;  line-height: 1.8;  
    display: block;  background-color: rgb(255, 0, 163);
    vertical-align: middle;
}

#storelink:hover {
    background-color: #220422;
}

#socialmedia {
	margin-top: 15px;
	text-align: center;
}

#socialmedia a {
	opacity: 0.3;
}

#socialmedia a:hover {
    opacity: 1;
}

#socialmedia a img {
	width: 35px;
}

@media only screen and (max-width: 480px) {
		html { 
		  width: 480px;
		  background: url(erin1.jpg) no-repeat top center fixed; 
		}

		#socialmedia a img {
			width: 65px;
		}

		#socialmedia a {
			opacity: 0.6;
		}

		#storelink {
    		margin-top: 15px;  line-height: 3.4;  
    		display: block;  background-color: rgb(255, 0, 163);
    	}

	}

    /* Desire + Galaxy S2 (landscape) ----------- */
    @media only screen
    and (min-device-width : 480px)
    and (max-device-width : 800px)
    and (orientation : landscape) {
    
    #storelink {
    		line-height: 3.4;  
    	}
    
    #logo {
    	font-size: 45px;
    }

    .footer a {
    	font-size: 16px;
    }

    #socialmedia a img {
	width: 75px;
	}

    }


    /* Desire + Galaxy S2 (portrait) ----------- */
    @media only screen
    and (min-device-width : 480px)
    and (max-device-width : 800px)
    and (orientation : portrait) {
		html { 
		  width: 480px;
		  background: url(erin1.jpg) no-repeat top center fixed; 
		}

		#socialmedia a img {
			width: 130px;
		}

		#socialmedia a {
			opacity: 0.6;
		}

		#storelink {
			line-height: 5.4;  
    	}
    }